<div class="text-center" style="background-color:blue; width:250px ;">
    <h5> Admin <br> Dashboard</h5>
</div>
<div>
    <a [routerLink]="['/Dashboard']" class="dropdown-item" style="font-size: 110%;"> Stats </a>
    <a [routerLink]="['/UpdateProfile']" class="dropdown-item" style="font-size: 110%;">Update Profile </a>
</div>
                                                                                                                                                                                                                          