<app-user-sidebar></app-user-sidebar>
<div class="depth" style="padding-top: 70px;height: 100vh;">
    <img src="../../../assets/img/Gallery/background1.jpg" class="bg-img" alt="placeholder">
    <div class="overlay"></div>
    <div class="d-flex justify-content-center" style="padding-bottom: 30px;padding-right: 30px;">
      <div class="col-lg-5 aqua-gradient-rgba rounded">
        <div class="text-center">
          <h4 class="mb-sm-0 pt-3" style="padding-top: 15px;color: #223;"> <strong>Edit User Profile </strong>  </h4>
          <hr style="background-color: #112;">
        </div>
        
        <div style="padding: 10px;">
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                
                    <div class="col-lg-6">
                        <label> <strong style="padding-left:20px"> First Name :</strong> </label>
                        <input style="background-color: transparent;" class="form-control mb-4">
                    </div>
                    <div class=col-lg-6>
                        <label> <strong style="padding-left:20px"> Last Name :</strong> </label>
                        <input style="background-color: transparent;" class="form-control mb-4">                
                    </div>
                    <div class=col-lg-6>
                        <label> <strong style="padding-left:20px"> Contact Number :</strong> </label>
                        <input style="background-color: transparent;" class="form-control mb-4">                
                    </div>
                    <div class=col-lg-6>
                        <label> <strong style="padding-left:20px"> Email Address :</strong> </label>
                        <input style="background-color: transparent;" class="form-control mb-4">                
                    </div>
                    <div class=col-lg-6>
                        <label> <strong style="padding-left:20px"> District :</strong> </label>
                        <input style="background-color: transparent;" class="form-control mb-4">                
                    </div>
                    <div class=col-lg-6>
                        <label> <strong style="padding-left:20px"> Region :</strong> </label>
                        <input style="background-color: transparent;" class="form-control mb-4">                
                    </div>
                
                
                <div class="">
                    <button type="submit" class="btn btn-lg btn-primary"> Save </button>
                </div>
            </form>
            </div>
        
      </div>
    </div>
  </div>   



    <!--div class="main-content">
      <div class="row" style="align-content: center;padding-top:100px">
          <div class="col-md-2" style="padding-top: 100px;">
              
            <img [src]="imgURL" height="200"  *ngIf="imgURL" >
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file type="file" accept='image/*' (change)="preview(file.files)">
            <br/>
            <div class="button-container">
              <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-facebook-f" style="color: #223;"></i>
              </button>
              <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-twitter" style="color: #223;"></i>
              </button>
              <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-google-plus-g" style="color: #223;"></i>
              </button>
            </div>
          </div>
          <div class="col-md-10">
              <div class="col-md-6 col-lg-6" style="padding:60px;background-color: #223;border-radius: 30px;;">
                  <div class="card-body" >
                    <form>
                      <div class="row">
                        <div class="col-md-6 pl-1">
                          <div class="form-group" id="edit" contenteditable="true">
                            <label class="white-text"  >First Name</label>
                            <input type="text" class="form-control" placeholder="First Name">
                            <input id="update" type="button" style="border-radius: 20%;" value="save" onclick="saveEdits()"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 pl-1">
                          <div class="form-group">
                            <label class=white-text>Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 pl-1">
                          <div class="form-group">
                            <label class="white-text">Contact Number</label>
                            <input type="text" class="form-control" placeholder="Contact">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label for="email" class="white-text">Email address</label>
                            <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 pl-1">
                          <div class="form-group">
                            <label class="white-text">District</label>
                            <input type="text" class="form-control" placeholder="District">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 pl-1">
                          <div class="form-group">
                            <label class="white-text">Region</label>
                            <input type="text" class="form-control" placeholder="Region">
                          </div>
                        </div>
                      </div>
          
                      
                    </form>
                  </div>
              </div>
          </div> 
      </div>
    </div-->

<!--div class="col-md-6">
    <div class="panel-footer">
        <button class="btn btn-primary" (click)="editProfile()">Edit</button>
    </div>
</div -->
