<app-user-sidebar></app-user-sidebar>

<div class="depth" style="padding-top: 70px;height: 100vh;">
    <img src="../../../assets/img/Gallery/background1.jpg" alt="placeholder" class="bg-img">
    <div class="overlay"></div>

    <div class="d-flex justify-content-center" style="padding-bottom: 30px;padding-right: 30px;padding-top: 30px;">
        <div class="col-lg-5 rounded" style="color: #cfd9df; background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); padding-right: 10px;">
            <div class="text-center">
                <h3><strong>Pending</strong></h3>
            </div>
            

            <table class="table table-striped">
                <thead class="text-white" style="background-color: #cfd9df;">
                    <tr>
                        <th> Event Date </th>
                        <th> Event Proffesional </th>
                        <th> Requested Date </th>
                        
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="white-text" style="background-color:#cfd9df;">
                    <!-- <td>xxxxxxxxxxxxxxxxx</td> -->
                    <tr *ngFor= "let booking of getBookingList">
                        <td>{{booking.date}} </td>
                        <td> {{booking.eventDisplayName}}  </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>

    <div class="d-flex justify-content-center" style="padding-bottom: 30px;padding-right: 30px;padding-top: 30px;">
        <div class="col-lg-5 rounded" style="color: #cfd9df; background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); padding-right: 10px;">
            <div class="text-center">
                <h3><strong>Completed</strong></h3>
            </div>
            

            <table class="table table-striped">
                <thead class="text-white" style="background-color: #cfd9df;">
                    <tr>
                        <th> Event Date </th>
                        <th> Event Proffesional </th>
                        <th> Requested Date </th>
                        
                        
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="white-text" style="background-color:#cfd9df;">
                    <!-- <td>xxxxxxxxxxxxxxxxx</td> -->
                    <tr *ngFor= "let booking of getBookingList">
                        <th>xxxxxxxxxx</th>
                        <th>hhhhhhhh</th>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>

    
</div>