<app-prof-sidebar></app-prof-sidebar>
<div class="depth" style="padding-top:75px">
  <div class="container">
    <h1>Edit Profile</h1>
    <hr>

    
    <br>
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Change profile picture</h6>

          <input type="file" (change)="uploadImage($event)" accept=".png,.jpg" />
        </div>
      </div>

      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>

        <form [formGroup]="profileForm">
          <div class="form-group">
            <label class="col-lg-3 control-label">User Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="displayName" [(ngModel)]="this.Log.displayName">
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="email"  [(ngModel)]="this.Log.email">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">User Type:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="userType" [(ngModel)]="this.Log.userType">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Age:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="age" [(ngModel)]="this.Log.age">
            </div>
          </div>

          <select class="mdb-select md-form col-lg-12 custom-select" style="background-color: transparent;" formControlName="eType"    [(ngModel)]="this.Log.eType" > 
            <option value="" disabled selected>Event Type</option>
            <option value="Photographer">Photographer</option>
            <option value="Videographer">Videographer</option>
            <option value="Makeup Artist">Makeup Artist</option>
            <option value="Music">DJ and Bands</option>
            <option value="Catering">Catering</option>
        </select>

          <br><br><br><br><br><br><br><br><br><br>
          <select class="mdb-select col-lg-6 custom-select" style="background-color: transparent;" formControlName="district"  [(ngModel)]="this.Log.district" > 
            <option value="" disabled selected> Select District </option>
            <option value="Ampara"> Ampara </option>
            <option value="Anuradhapura"> Anuradhapura </option>
            <option value="Badulla">Badulla</option>
            <option value="Batticaloa"> Batticaloa </option>
            <option value="Colombo"> Colombo </option>
            <option value="Galle">Galle</option>
            <option value="Gampaha"> Gampaha</option>
            <option value="Hambantota"> Hambantota </option>
            <option value="Jaffna"> Jaffna </option>
            <option value="Kalutara"> Kalutara</option>
            <option value="Kandy">Kandy</option>
            <option value="Kegalle">Kegalle</option>
            <option value="Kilinochchi"> Kilinochchi </option>
            <option value="Kurunegala"> Kurunegala</option>
            <option value="Mannar"> Mannar</option>
            <option value="Matale"> Matale </option>
            <option value="Matara">Matara</option>
            <option value="Monaragala">Monaragala</option>
            <option value="Mulathiv"> Mulathiv </option>
            <option value="NuwaraEliya">Nuwara Eliya</option>
            <option value="Polonnaruwa"> Polonnaruwa </option>
            <option value="Puttalam"> Puttalam</option>
            <option value="Ratnapura"> Ratnapura</option>
            <option value="Trincomalee"> Trincomalee</option>
            <option value="Vavniya"> Vavniya </option>
        </select>
  

        <select class="mdb-select col-lg-6 custom-select" style="background-color: transparent;" formControlName="gender" [(ngModel)]="this.Log.gender" > 
          <option value="" disabled selected> Gender </option>
          <option value="Male"> Male </option>
          <option value="Female"> Female </option>
        </select> 
        <br><br><br><br>
          
          <div class="form-group">
            <label class="col-md-3 control-label">Contact:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" formControlName="contact" [(ngModel)]="this.Log.contact">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Description:</label>
            <div class="col-md-8">        
              <textarea class="form-control" type="text" formControlName="description" style="background-color: #ebebe0;" rows="5" placeholder="Type Description" [(ngModel)]="this.Log.description"></textarea>  
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary" (click)="updateData(profileForm.value)">Save changes</button>
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
