<nav id="nav" class="navbar fixed-top  navbar-expand-lg  navbar-dark scrolling-navbar bg-dark">
    <div class="navbar-header" style="padding-right: 80px;padding-left: 40px">
        <a href="#"> <img src="../assets/logo2.png" width=100px></a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#n-bar"
        aria-controls="n-bar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="n-bar">
        <ul class="navbar-nav navbar-right">
            <li><a class="nav-link" href="#home">Home</a></li>
            <li><a routerlink="Feed" class="nav-link" href="#feed">Feed</a></li>
            <li><a class="nav-link" href="#contact">Contact</a></li>
            
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons" style="padding-right:140px">
            <li>
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control bg-dark"  type="text" placeholder="Search..." aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text bg-dark"><a><i class="fas fa-search"></i></a></span>
                    </div>
                </div>
            </li>
            <li><a routerLink="signup" class="nav-link" >Join</a></li>
            <li><a routerLink="signin" class="nav-link" >Login</a></li>
      </ul>
    </div>
  </nav>
  