<app-sidebar></app-sidebar>

<div class="depth">
        <div>
            <div style="padding-top:100px" class="data" id="#dashboard">
                <mdb-card class="dash-card" style="padding-top:25px;background-color:royalblue;" >
                    <h3 style="color: white"> Admin / Dashboard </h3>
                </mdb-card>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
                    <p> Sample</p>
    
                <mdb-card class="dash-card" style="padding-top:25px;background-color:royalblue;" id="#update">
                    <h3 style="color: white"> Admin / Update Profile </h3>
                </mdb-card>
    
    
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
    
    
                <mdb-card class="dash-card" style="padding-top:25px;background-color:royalblue;" id="#booking">
                    <h3 style="color: white"> Admin / Booking Information </h3>
                </mdb-card>
    
    
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
                <p> Sample</p>
    
            </div>
        </div>
    </div>
    