<app-sidebar></app-sidebar>
<div class="depth">
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
    Something comes here <br>
</div>