

    

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top: 15px; margin: auto;">
            <div class="form-inline ml-auto" style="margin: auto;">
                <div class="md-form my-0">
                    <input [(ngModel)]="value" (keyup)="onType($event)" class="form-control mr-sm-2" placeholder="Search here..." type="text" style="width:150px;" >
                    <a mdbBtn floating="true" size="sm" color="primary" rounded="true"  (click)="onSearchClick()" >
                        <mdb-icon fas icon="search" ></mdb-icon>
                    </a>
                </div>
            </div>
        </div>

        <!-- <div class="dropdown-menu dropdown drop" role="menu"> -->
        <div class="card">
            <ul *ngIf="isVisible" class="dropdown drop" >
                <li *ngFor="let user of filtered" class="dropdown-item" >
                    <a class="divider">
                        <span class="user" (click)="onItemClick(user.displayName)">{{user.displayName}}</span>
                    </a>
                </li>
            </ul> 
        </div>   
        <!-- </div> -->
        






