<div class="wrapper">
    
    <div class="page-header" style="height: 100vh;" id="about">
        <div class="bg-img" >                                
        <div class="overlay">
            <img src="../../assets/img/Gallery/Slides/party.jfif" git > 
        </div>
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/Gallery/logo.png" alt="">
                <h1 class="h1-seo">Jamboree Inc.</h1>
                <h5> D R E A M  . S E A R C H . A C Q U I R E </h5>
            </div>
        </div>
    </div>
</div>


<div class="section" id="carousel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 feature">
              <h4> Why choose <h2> Jamboree ? </h2> </h4>

              <i class="fa fa-check"></i>
              <h5>The only online event service provider in Sri Lanka. </h5>

              <i class="fa fa-check"></i>
              <h5>Multiple type event related services in one place. </h5>

              <i class="fa fa-check"></i>
              <h5>Wide Range of event professionals in one place. </h5>

              <i class="fa fa-check"></i>
              <h5>Proffessionals are ranked based on your ratings. </h5>

              <i class="fa fa-check"></i>
              <h5>We welcome and act on your ratings. </h5>
            </div>

            <div class="col-lg-6 col-md-12">
              <ngb-carousel>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/Gallery/Slides/wedding2.jpg" alt="First slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/Gallery/Slides/birthday.jpg" alt="Second slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img//Gallery/Slides/fennes_wedding.jpg" alt="Fourth slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/Gallery/Slides/party.jfif" alt="Fifth slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img//Gallery/Slides/reception.jpg" alt="Sixth slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/Gallery/Slides/reception2.jpg" alt="Seventh slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img//Gallery/Slides/catering.jpg" alt="Eight slide">
                  </ng-template>
                  <ng-template ngbSlide>
                      <img class="d-block" src="assets/img/Gallery/Slides/party2.jfif" alt="Nineth slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img//Gallery/Slides/florists.jfif" alt="Tenth slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img/Gallery/Slides/band.jpg" alt="Eleventh slide">
                  </ng-template>
                  <ng-template ngbSlide>
                    <img class="d-block" src="assets/img//Gallery/Slides/makeup.jpg" alt="Tweleveth slide">
                  </ng-template>
              </ngb-carousel>
            </div>
        </div>
    </div>
</div> 


<div class="row">
    <div class="card" >
        <div class="center">
            <!-- Section: Testimonials v.2 -->
<section class="text-center my-5">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Testimonials v.2</h2>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="false" [animation]="'slide'" class="testimonial-carousel">
      <!--First slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image" style="margin-top:30px">
          </div>
          <!--Content-->
          <div class="center" style="margin-left: 500px; margin-right: 500px; margin-bottom: 40px;">
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
        </div>
          <!--Review-->
          
        </div>
      </mdb-slide>
      <!--/First slide-->
     
      <!--Second slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src=" https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image" style="margin-top:30px">
          </div>
          <!--Content-->
          <div class="center" style="margin-left: 500px; margin-right: 500px; margin-bottom: 40px;">
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
        </div>
        
        </div>
      </mdb-slide>
      <!--/Second slide-->
     
      <!--Third slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="  https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image" style="margin-top:30px">
          </div>
          <!--Content-->
          <div class="center" style="margin-left: 500px; margin-right: 500px; margin-bottom: 40px;">
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
        </div>
          <!--Review-->
         
        </div>
      </mdb-slide>
      <!--/Third slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="  https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image" style="margin-top:30px">
          </div>
          <!--Content-->
          <div class="center" style="margin-left: 500px; margin-right: 500px; margin-bottom: 40px;">
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
        </div>
          <!--Review-->
         
        </div>
      </mdb-slide>
      
      <!-- slide four -->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="  https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image" style="margin-top:30px">
          </div>
          <!--Content-->
          <div class="center" style="margin-left: 500px; margin-right: 500px; margin-bottom: 40px;">
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
        </div>
          <!--Review-->
         
        </div>
      </mdb-slide>
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </section>
  <!-- Section: Testimonials v.2 -->

        </div>
    </div>
</div>


<footer class="footer mdb-color darken-4" data-background-color="mdb-color darken-4" style="padding: 2px;">

      
    <div class="row justify-content-md-center sharing-area text-center" style="padding: 2px;">
      
      <div class="text-center col-md-12 col-lg-8">
        <h2 class="font-italic" style="margin: 5px;">Follow Us!</h2>
      </div>
        <div class="text-center col-md-12 col-lg-8">
          <a target="_blank" href="https://www.twitter.com" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
            <i class="fab fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
            <i class="fab fa-linkedin"></i>
          </a>
          <a target="_blank" href="https://instagram.com" class="btn btn-neutral btn-icon btn-instagram btn-round btn-lg" rel="tooltip" title="Follow us">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#" class="nav-link">
                        Jamboree
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                  <a href="#contacts" class="nav-link">
                      Contact Us
                  </a>
              </li>
               
            </ul>
        </nav>
        <div class="copyright">
            &copy;
          {{data | date: 'yyyy'}}, Designed by Jamboree.
            
        </div>
    </div>
</footer>
  
  

