<header>
    <mdb-navbar class="navCss" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#">
                <img src="../../../assets/img/Gallery/logo2.png" width="100px">
            </a>
        </mdb-navbar-brand>

        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a href="#home"  class="nav-link"><strong> Home </strong> </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect >
                    <a [routerLink]="['/dashboard']" class="nav-link"> <strong>Feed</strong> </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect >
                    <a href="#contacts" class="nav-link"> <strong>Contact</strong> </a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect >
                    <div *ngIf="this.Log.userType=='admin' ;then admin else prof"></div>
                            <ng-template #prof>
                                    <a [routerLink]="['/EventMain']" class="nav-link"> <strong>Profile</strong> </a>
                            </ng-template>
                            <ng-template #admin>
                                <a [routerLink]="['/dashboard']" class="nav-link"> <strong>Dashboard</strong> </a>
                            </ng-template>
                </li>


                <!-- <app-search-component></app-search-component> -->







          <!--         <li class="nav-item waves-light" mdbWavesEffect>
           <form class="form-inline waves-light" mdbWavesEffect>
               <div class="md-form my-0">
                   <input class="form-control mr-sm-2"  type="text" placeholder="Search">
               </div>
           </form>
       </li>





                 </div>
                        <ng-ais-search-box (change)="searchChanged($event)"></ng-ais-search-box>

                        <ng-ais-hits *ngIf="showResults">
                            <ng-template let-hits="hits">
                                <div *ngFor="let hit of hits">


                                    <ng-ais-highlight attribute="name" [hit]="hit"></ng-ais-highlight>

                                    <div class="bio">
                                        {{ hit.bio | slice:0:30 }}...
                                    </div>

                                </div>
                            </ng-template>
                        </ng-ais-hits>



                 -->
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <div *ngIf="this.flag;then logged else guest"></div>
                            <ng-template #guest> Hello Guest!</ng-template>
                            <ng-template #logged> {{Log.displayName}} </ng-template>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown drop" role="menu">
                        <a [routerLink]="['/Signin']"  class="dropdown-item waves-light" mdbWavesEffect href="#"> <strong> Log In</strong></a>
                        <div class="divider dropdown-divider"></div>
                        <a [routerLink]="['/Signup']"  class="dropdown-item waves-light" mdbWavesEffect href="#"> <strong>Sign Up</strong></a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
    </header>
