<app-user-sidebar></app-user-sidebar>



<div class="depth" style="padding-top: 70px;height: 100vh;">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image">
          <img src="../../../assets//img//Gallery/cover.jpg">
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3">
          <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
              <img src="{{this.Log.photoURL}}" class="rounded-circle" alt="profile picture">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 200px;">  
            <div class="list-group list-group-flush">
                <a routerLink="['/UserProfile']" class="list-group-item list-group-item-action waves-effect"  style="background-color:transparent;" mdbWavesEffect>
                  <mdb-icon fas icon="user" class="mr-3" ></mdb-icon> User Since : 2019-10-22
                </a>
                <a routerLink="../UserEditUser" class="list-group-item list-group-item-action waves-effect" style="background-color:transparent;" mdbWavesEffect>
                  <mdb-icon fas icon="table" class="mr-3"></mdb-icon>  Rating : Not Enough Ratings Yet
                </a>
            </div>
        </div>
      </div>
      <div class="col-lg-9">
          <div class="row" style="padding-top: 50px;">
            <div class="col-md-12">
                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                    <h1 style="font-size: 300%;">{{this.Log.displayName}}</h1>
                    <br>
                    <h5>Registered User</h5>
                </div>
            </div>
            <div class="col-md-12" style="padding-top: 30px;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{this.Log.uid}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{this.Log.firstName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{this.Log.lastName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Email Address</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{this.Log.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Contact</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{this.Log.contact}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>District</label>
                            </div>
                            <div class="col-md-8">
                                <p>{{this.Log.district}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-8">
                                <p>Registered User</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label> Gender</label>
                            </div>
                            <div class="col-md-8">
                                <p> Female </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 img-main-rightPart">
                        <div style="padding-left: 60px;padding-right: 60px ; ">
                          <button class="btn btn-info btn-block "> Edit Your Profile</button>
                        </div>
                        <div style="padding-left: 60px;padding-right: 60px ; ">
                            <button class="btn btn-danger btn-block "> Verify Your Email Address </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
