<app-user-sidebar></app-user-sidebar>

<div class="depth" style="padding-top: 70px;height: 100vh;">
  <img src="../../../assets/img/Gallery/background1.jpg" class="bg-img" alt="placeholder">
  <div class="overlay"></div>
  <div class="d-flex justify-content-center" style="padding-bottom: 30px;padding-right: 30px;">
    <div class="col-lg-5 rounded "  style=" color:#223; background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);">
      <div class="text-center">
        <h4 class="mb-sm-0 pt-3" style="padding-top: 15px;color: #223;"> <strong>My Profile </strong>  </h4>
        <hr style="background-color: #112;">
      </div>

      <div style="padding: 10px">
                  <div *ngIf="Users?.length >0; else noItems">
                    <label>First Name</label>
                    <ul class="collection">
                      <a class="collection-firstName" >{{this.Log.firstName}}</a>
                    </ul>
                  </div>
                  <ng-template #noItems class="class=white-text"><h5>No Items</h5></ng-template>

                  <div *ngIf="Users?.length >0; else noItems">
                    <label>Last Name</label>
                    <ul class="collection">
                      <a class="collection-lastName">{{this.Log.lastName}}</a>
                    </ul>
                  </div>
                  <ng-template #noItems class="class=white-text"><h5>No Items</h5></ng-template>

                  <div *ngIf="Users?.length >0; else noItems">
                    <label>Contact Number</label>
                      <ul class="collection">
                        <a class="collection-contact">{{this.Log.contact}}</a>
                      </ul>
                  </div>
                  <ng-template #noItems class="class=white-text"><h5>No Items</h5></ng-template>

                  <div *ngIf="Users?.length >0; else noItems">
                    <label>Email</label>
                    <ul class="collection">
                      <a class="collection-email">{{this.Log.email}}</a>
                    </ul>
                  </div>
                  <ng-template #noItems class="class=white-text"><h5>No Items</h5></ng-template>

                  <!--div *ngIf="Users?.length >0; else noItems">
                    <label>District</label>
                      <ul *ngFor="let User of Users" class="collection">
                        <li class="collection-district">{{User.district}}</li>
                      </ul>
                  </div>
                  <ng-template #noItems class="class=white-text"><h5>No Items</h5></ng-template-->
      </div>
    </div>
  </div>
</div>   
         
