<app-sidebar></app-sidebar>
<div class="depth">

<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>
<p> Dashboard</p>

</div>