<app-sidebar></app-sidebar>

<div class="depth">
    <img src="../../../assets/img/Gallery/background1.jpg" class="bg-img" alt="placeholder">
    <div class="overlay">
    </div>


    <div class="col-sm-60"  style="font-family:Roboto;padding-right:30px;">

<!-------------------- Row with Overview Details ------------------------>

        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12 " >
                <div class="card detail-card">
                    <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <div class="text-white d-flex blue-gradient-rgba">
                            <div class="p-3">
                                <h3 class="card-title card-top">Total Users</h3>
                            </div>
                            <div class="align-self-center mx-auto">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto mr-4 mb-2">
                    <h1 class="text-center card-text" style="color: slateblue;">{{totalCount}}</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-12 ">
                <div class="card detail-card">
                    <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <div class="text-white d-flex peach-gradient-rgba">
                            <div class="p-3">
                                <h3 class="card-title card-top">Total Bookings</h3>
                            </div>
                            <div class="align-self-center mx-auto">
                                <i class="fas fa-briefcase fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ml-auto mr-4 mb-2">
                        <h1 class="text-center card-text" style="color:#F55;">37</h1>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-sm-12 "  >
                    <div class="card detail-card">
                        <div class="card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                            <div class="text-white d-flex aqua-gradient-rgba ">
                                <div class="p-3">
                                <h3 class="card-title card-top">On going Bookings</h3>
                                </div>
                                <div class="align-self-center mx-auto">
                                <i class="fas fa-briefcase fa-3x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ml-auto mr-4 mb-2">
                            <h1 class="text-center card-text" style="color: #38A;">91</h1>
                        </div>
                    </div>
                </div>
        </div>

<!-------------------- Ongoing Bookings ------------------------>

        <div style="padding-top:30px ;">
            <mdb-card class="mb-4 wow fadeIn" style="max-height:100px;border: solid #223;">
                <mdb-card-body class="d-sm-flex justify-content-between"  style="background-color: #223;" >
                    <div class="col-lg-1 d-flex justify-content-center">
                        <i class="fas fa-book fa-3x text-white"></i>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mb-sm-0 pt-3 text-white"> On Going bookings </h3>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="container">
            <div class="col-md-12 col-lg-12 col-sm-12 ">
                <div style="padding: 30px;background-color: #223;">   
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="justify-content-center d-flex">
                                <img src="../../../assets/img/Gallery/contact.png" style="width: 80px;height : 80px;border: solid royalblue;" alt="admin profile photo" class="rounded-circle prof-image">
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center">
                            <h4 class="text-white"> Details comes here </h4>
                        </div>
                        <div class="col-lg-3">
                            <div class="justify-content-center d-flex">
                                <img src="../../../assets/img/Gallery/contact.png" style="width: 80px;height : 80px;border: solid royalblue;" alt="admin profile photo" class="rounded-circle prof-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-------------------- Event Professional Requests ------------------------>


        <div style="padding-top:30px ;">
            <mdb-card class="mb-4 wow fadeIn" style="max-height:100px;border: solid #223;">
                <mdb-card-body class="d-sm-flex justify-content-between"  style="background-color: #223;" >
                    <div class="col-lg-1 d-flex justify-content-center">
                        <i class="fas fa-user-tie fa-3x text-white"></i>
                    </div>
                    <div class="col-lg-11">
                        <h3 class="mb-sm-0 pt-3 text-white"> Event Professional Requests </h3>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 ">
            <div style="padding: 30px;background-color: #223;">   

                <table class="table">
                    <thead class="white-text">
                        <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Event Type</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col"> Response </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="text-white" *ngFor= "let req of requests">
                            <td> <strong> {{req.uid}} </strong> </td>
                            <td> <strong> {{req.displayName}}</strong>  </td>
                            <td> <strong> {{req.email}} </strong> </td>
                            <td> <strong> {{req.mobile}}</strong>  </td>
                            <td> <strong> {{req.eType}} </strong> </td>
                            <td> 
                                <a class="btn-sm text-danger"> 
                                    <i class="fas fa-user-check btn-info rounded " style="padding: 10px;" (click)="changeStatus1(req.uid)"> </i>
                                </a> 
                                <a class="btn-sm text-danger"> 
                                    <i class="fas fa-user-times btn-danger rounded " style="padding: 10px;" (click)="changeStatus2(req.uid)"> </i>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
