<div class="bg-img" style="background-image: url('../../assets/img/Gallery/Slides/party.jfif');">                                
  <div class="overlay"></div>
</div>

<div class="container text-center" style="padding-top:180px;">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-lg-6 " style="padding:50px">
      <img src="assets/img/Gallery/logo2.png" alt="logo" style="max-width: 280px">
      <br><br><br>
    
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)"> 
        <div class="form-row">
          <div class="input-group form-group-no-border col-lg-6">
            <input type="text" name=FirstName #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control form-font" placeholder="First Name..." required />
          </div>
          <div class="input-group form-group-no-border input-lg col-lg-6">
            <input type="text" name=LastName #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control form-font" placeholder="Last Name..." required />
          </div>
        </div>
          
        <div class="input-group form-group-no-border input-lg">
          <input type="text" name=Email #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control form-font" placeholder="Email Address..." required />
        </div>
        <div class="input-group form-group-no-border input-lg">
          <input type="password" name=Password #Password="ngModel" [(ngModel)]="service.formData.Password" placeholder="Password..." class="form-control form-font" required />
        </div>
        <div class="input-group form-group-no-border input-lg">
          <input type="password" name=RePassword #RePassword="ngModel" [(ngModel)]="service.formData.RePassword" placeholder="Re-Enter Password..." class="form-control form-font" required />
        </div>

        <input type="text" value="user" hidden name=UserType #ReUserType="ngModel" [(ngModel)]="service.formData.UserType" />
        <input type="text" value=" " hidden name=Contact #Contact="ngModel" [(ngModel)]="service.formData.Contact" />
      

        <div class="footer text-center">
          <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-round btn-lg btn-cus"> Get Started</button>
          <div *ngIf="Password.value!=RePassword.value && RePassword.touched"  class="validation-error"> *Error : Password doesn't match </div>
          <br>
          <a class="button-cus btn" [routerLink]="['/Signin']"> Already an account ? Sign in Here </a>
        </div>  

      </form>
    </div>
  </div>
</div>