<div class="bg-img" style="background-image: url('../../../assets/Background/background04.jpg');">                             <!-- Overlayed Background -->
    <div class="overlay"></div>
  </div>
  
  <!--------------------------------------------------------| HOME |------------------------------------------------------->
  
  <div id="home" class=" box-outer font-arimo">
      <div style="max-width: 800px">
          <h1>Which <strong>Event Professionals</strong> suits best for <strong> Your Event </strong> ???</h1>
      </div>
      </div>
  
  <!-------------------------------------------------------| SEARCH |------------------------------------------------------>
  
  <form class="row bg-primary search" style="padding: 40px">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 text-center">
                  <br>
                  <img src="../../assets/logo2.png" width="250" alt="logo">
                  <br><br>
              </div>
              <div class="col-sm-6">
                  <br><br>
                  <div class="input-group md-form form-sm form-2 pl-0">
                      <input class="form-control "  type="text" placeholder="Search..." aria-label="Search">
                      <div class="input-group-append">
                          <span class="input-group-text"><a><i class="fas fa-search text-grey" aria-hidden="true"></i></a></span>
                      </div>
                  </div>
                  <br>
              </div>
          </div>
      </div>
  </form>
  
  <!------------------------------------------------------| PORTFOLIO |---------------------------------------------------->
  <div class="row" style="background: #f2f6f8;">
      <br><br>
      <div class="container details " id="portfolio">
          <h1> <strong> Welcome To Jamboree </strong> </h1>
          <hr style="max-width:80px;border: solid #222">
      </div>
  
      <div id="portfolio">
          <div class="container-fluid" style="padding :60px">
              <div class="row  d-flex justify-content-center ">
                  <div class="col-md-4">
                      <h5>Description Comes here.Description Comes here.Description Comes here.Description Comes here.Description Comes here.Description Comes here.Description Comes here.Description Comes here.Description Comes here.Description Comes here.</h5>
                      <br>
                      <div class="feature">
                          <i class="fa fa-check"></i>
                          <h5>The only online event service provider in Sri Lanka</h5>
                      </div>
                      <div class="feature">
                          <i class="fa fa-check"></i>
                          <h5>Multiple type event related services in one place</h5>
                      </div>
                      <div class="feature">
                          <i class="fa fa-check"></i>
                          <h5>Wide Range of event professionals in one place</h5>
                      </div>
                      <div class="feature">
                          <i class="fa fa-check"></i>
                          <h5>Proffessionals are ranked based on your ratings</h5>
                      </div>
                      <div class="feature">
                          <i class="fa fa-check"></i>
                          <h5>We welcome and act on your ratings.</h5>
                      </div>
                  </div>
                  
                  <div class="col-md-6 img_box">
                      <div class="carousel">
                          <!--
                          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/wedding2.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/birthday.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/fennes_wedding.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/party.jfif"   alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/reception.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/reception2.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/catering.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/party2.jfif"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/florists.jfif"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/band.jpg"  alt="Slider">
                              </mdb-carousel-item>
                              <mdb-carousel-item>
                              <img class="carousel_slider d-block w-100"  src="../../assets/Slides/makeup.jpg"  alt="Slider">
                              </mdb-carousel-item>
                          </mdb-carousel>
                          -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <!------------------------------------------------------| SERVICES |----------------------------------------------------->
  
  <div id="service" class="row what-we-offer">
      <div class="container details">
          <h1> <strong>What We Offer </strong> </h1>
          <hr style="max-width:60px;border: solid #222">
          <br>
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <div class="offer">
                      <br><br>
                      <img class="service-img" src="../../assets/Square/wedding.JPG" alt="services" >
                      <br><br>
                      <h2> Weddings </h2>
                      <br>
                      <h6> Find all your wedding requirements at Jamboree. Search for more details.</h6>
                      <br>
                      <button class="btn-lg offer_btn">Search now</button>
                      <br><br>
                  </div>    
              </div>
          
              <div class="col-md-4 col-sm-6">
                  <div class="offer">
                      <br><br>
                      <img class="service-img" src="../../assets/Square/Cooperate_Events.jpg" alt="services" >
                      <br><br>
                      <h2> Co-operate Events  </h2>
                      <br>
                      <h6> Find all your wedding requirements at Jamboree. Search for more details.</h6>
                      <br>
                      <button class="btn-lg offer_btn">Search now</button>
                      <br><br>
                  </div>    
              </div>
          
              <div class="col-md-4 col-sm-6">
                  <div class="offer">
                      <br><br>
                      <img class="service-img" src="../../assets/Square/parties.jpg" alt="services" >
                      <br><br>
                      <h2> Parties </h2>
                      <br>
                      <h6> Find all your wedding requirements at Jamboree. Search for more details.</h6>
                      <br>
                      <button class="btn-lg offer_btn">Search now</button>
                      <br><br>
                  </div>    
              </div>
          
              <div class="col-md-4 col-sm-6">
                  <div class="offer">
                      <br><br>
                      <img class="service-img" src="../../assets/Square/sports.jpg" alt="services" >
                      <br><br>
                      <h2> Sport Events </h2>
                      <br>
                      <h6> Find all your wedding requirements at Jamboree. Search for more details.</h6>
                      <br>
                      <button class="btn-lg offer_btn">Search now</button>
                      <br><br>
                  </div>    
              </div>
          
              <div class="col-md-4 col-sm-6">
                  <div class="offer">
                      <br><br>
                      <img class="service-img" src="../../assets/Square/get.jpg" alt="services" >
                      <br><br>
                      <h2> Get Togethers </h2>
                      <br>
                      <h6> Find all your wedding requirements at Jamboree. Search for more details.</h6>
                      <br>
                      <button class="btn-lg offer_btn">Search now</button>
                      <br><br>
                  </div>    
              </div>
                  
              <div class="col-md-4 col-sm-6">
                  <div class="offer">
                      <br><br>
                      <img class="service-img" src="../../assets/Square/get.jpg" alt="services" >
                      <br><br>
                      <h2> Weddings </h2>
                      <br>
                      <h6> Find all your wedding requirements at Jamboree. Search for more details.</h6>
                      <br>
                      <button class="btn-lg offer_btn">Search now</button>
                      <br><br>
                  </div>    
              </div>
          </div>
      </div>
  </div>
  
  <!-----------------------------------------------------| Analytics |----------------------------------------------------->
    
  
  <div id="numbers" class=" row analytics">
      <div class="image" style="background-image: url('../../assets/Background/background02.jpg');" >
          <div class="overlay"></div>
      </div>
      <div class="container">
          <div class="row">
              
              <div class="col-sm-4 col-xs-6">
                  <div class="number">
                      <i class="fa fa-users"></i>
                      <h3> 253 </h3>
                      <h5>Happy clients</h5>
                  </div>
              </div>
              
              <div class="col-sm-4 col-xs-6">
                  <div class="number" >
                      <i class="fa fa-briefcase"></i>
                      <h3>42</h3>
                      <h5>Event Professionals </h5>
                  </div>
              </div>
              
              <div class="col-sm-4 col-xs-6">
                  <div class="number">
                      <i class="fa fa-book"></i>
                      <h3>10</h3>
                      <h5>User Bookings</h5>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  

  <!----------------------------------------------------| CONTACT US |----------------------------------------------------->
    
  <div id="contact" class="jumbotron text-center contact">
      <div class="container contact-box" >
          <div class="row">
              <div class="col-sm-8 con-input">
                  <h2 class="text-center"> Get in Touch </h2> 
                  <br>
                  <div class="row">
                      <div class="col-sm-6 form-group">
                          <input class="form-control" id="name" name="name" placeholder="Name" type="text" style="background:transparent;border:double;border-color: darkgrey;color:white">
                      </div>
                      <div class="col-sm-6 form-group">
                          <input class="form-control" id="email" name="email" placeholder="Email" type="email" style="background:transparent;border:double;border-color: darkgrey;color:white">
                      </div>
                      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5" style="background:transparent;border:double;border-color: darkgrey;color:white" ></textarea>
                      <div class="col-sm-6 container justify-content-center">
                          <br>
                          <button type="submit" class="btn btn-primary btn-lg btn-block" width="60%" style="background:royalblue;border:none;color:white">Send</button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4 con-display">
                  <br><br><br>
                  <h4>Contact us and we'll get back to you within 24 hours.</h4><br>
                  <h5><i class="fa fa-map-marker"></i>  Colombo, Sri Lanka</h5>
                  <h5><i class="fa fa-phone"></i>  +94 71 0427779</h5>
                  <h5><i class="fa fa-envelope"> </i> mail@jamboree.com</h5>
              </div>
          </div>
      </div>
  </div> 

  <app-foot></app-foot>