<app-prof-sidebar></app-prof-sidebar>


<br><br><br><br><br><br>

<div style="padding-right: 30px;padding-bottom: 30px;" id="sent">
    <div class="col-lg-12" style="font-family:Roboto;background-color: #223;padding-right: 30px">
      <div class="text-center">
        <h3 class="mb-sm-0 pt-3 text-white" style="padding-top: 15px;padding-bottom: 15px;"> Booking Information </h3>
      </div>
      <div class="d-flex ">
        <table class="table table-striped ">
          <thead class="" style="background-color: #223;color: white;">
            <tr>
              <th>#</th>
              <th>Date</th>
              <th> Customer Name</th>
              <th> Request Status</th>
              <th> Event Status</th>
              <th> Message</th>
              <th></th>
            </tr>
          </thead>
          <!-- <tbody class="white-text" style="background-color:#223;">
            <tr *ngFor= "let msg of getMessageList">
              <th> 1 </th>
              <td> {{msg.name}} </td>
              <td> {{msg.email}}</td>
              <td> {{msg.date}} </td>
              <td> {{msg.time}} </td>
              <td> {{msg.receiverType}} </td>
              <td> {{msg.receiver}} </td>
              <td> {{msg.message}} </td>
              <td> <a class="btn-sm text-danger">
                  <i class="fas fa-trash-alt btn-danger rounded " (click)="onDelete(msg.id)" style="padding: 10px;">
                  </i>
                </a> </td>
            </tr>
          </tbody> -->
              
        </table>
      </div>
    </div>
  </div>